# Environments
venv/
.venv/
env/
.env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/
.virtual_documents/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Data Files (Too large for GitHub)
*.csv
*.json
data/

# Allow small JSON configs if necessary
!sample.json
!package.json
!manifest.json
